<form class="mt-4" method="POST" action="/upload-image" enctype="multipart/form-data">
    <input type="file" name="tenfile">
    <input type="text" name="password">
    <button type="submit">Upload</button>
</form>